/* Global Styling */
html {
  background-color: #83d1e3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000101;  
  font-size: 1.1em;  
}

a {
  text-decoration: none;
  color: #000101;
}

/* Homepage Styling */
.title {
  font-size: 4.5em;  
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  text-shadow: #5f5554 3.5px 3.5px 7px;
  }

.recipes-list {
  border: 5px solid #000101;
  border-radius: 15px;
  box-shadow: #5f5554 7px 7px 14px;  
  background-color: #eaece6;
  max-width: 470px;
  min-height: 200px;
  margin: 0 auto;
  padding: 16px;
  list-style: none;
  font-weight: bold;
  line-height: 2em;  
}

/* Recipe pages styling */
.recipes {
  margin: 32px auto;
  max-width: 600px;
}

.recipes li {
  margin-bottom: 1.2em;
}

.recipes h1 {
  margin-top: 50px;
  font-size: 2.4em;
  text-shadow: #5f5554 2px 2px 4px;
  text-align: center;
}

.recipes img {
  width: 600px;
  height: auto;
  box-shadow: #5f5554 7px 7px 14px;
}

.recipes h2 {
  margin-top: 40px;
}